
.image-column{
  /* display: flex; */
   /*align-items: flex-start; Align items to the top */
   /*justify-content: center; /* Center the content */
  padding: 50px; /* Padding around the container */
}





/* Add responsive behavior */
@media (max-width: 768px) {
  .media-container {
    flex-direction: column; /* Stack the image and text on small screens */
  }

  .image-column, .media-text {
    max-width: 100%; /* Each column takes the full width on small screens */
  }
}
