.CardRow {
  
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
  }
  
  /* Ensure cards take full width of the column */
  .custom-card .card {
    width: 100%;
  }
  
   

  

  